
:root {
  /*-----------------------------------Var color*/

  --text-active: #9F9F9F;
  /*--------Text*/
  --text-hover: #757575;
  --text-light: #FFFFFF;
  --text-dark: #161616;
  /*--------Background*/
  --back-light: #FFFFFF;
  --back-button: #202226;
  --back-hover: #F4F5F8;
  /*--------Border or Divider*/
  --dived-dafault: #36383C;
  --dived-hover: #E9E9E9;
  /*--------Tags*/
  --tag-discount: #D21924;
  --tag-armor: #2949B5;
  --tag-press: #308D77;
  /*-----------------------------------*/

  font-family: 'Golos Text', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}


body {
  padding: 0px;
  margin: 0px;
}

body.active {
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}